@media (min-width: 553px) and (max-width: 992px) {
	@font-face {
		font-family: 'Exo2';
		src: url('../assets/fonts/Exo_2/static/Exo2-Medium.ttf') format('truetype');
		font-weight: 200;
		font-style: normal;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		width: 100%;
	}

	.navbar {
		display: flex;
		gap: 1rem;
		align-items: center;
	}

	.navitems {
		flex-direction: column;
		position: absolute;
		z-index: 10;
		top: 6rem;
		right: 0.1%;
		background: linear-gradient(0deg, #a3fef795, #68b0db, #68b0db, #a3fef795);
		width: 90%;
		padding: 1.25rem;
		gap: 2rem;
		border-radius: 0 0 1rem 1rem;
		display: none;

		.link {
			color: black;
			height: 1rem;

			&:hover {
				color: #4a6e80;
			}
		}
	}

	.bars-menu {
		display: flex;
		width: 2rem;
		height: 2rem;
	}

	.navitems {
		flex-direction: column;
		position: absolute;
		z-index: 10;
		top: 6rem;
		right: 0.1%;
		background: linear-gradient(0deg, #a3fef795, #68b0db, #68b0db, #a3fef795);
		width: 90%;
		padding: 1.25rem;
		border-radius: 0 0 1rem 1rem;
		display: none;

		.link {
			color: black;
			height: 1rem;

			&:hover {
				color: #4a6e80;
			}
		}
	}
	.active-menu {
		display: flex;
	}

	.bars-menu {
		display: flex;
		left: 80%;
	}

	.bars-menu {
		width: 2rem;
		height: 2rem;
	}

	main {
		overflow-x: hidden;
	}

	footer {
		display: flex;
		max-width: 100%;
		background: linear-gradient(to right, #a3fef7, #68b0db, #a3fef7);
		place-content: center;
		justify-content: space-between;

		padding: 0 5%;
		gap: 0.5rem;

		.logo {
			width: 7rem;
			height: 7rem;
		}

		.contact {
			width: 50%;
			flex-wrap: wrap;
			display: flex;
			list-style: none;
			gap: 1rem;

			ul {
				display: flex;
				gap: 1rem;

				li {
					.network {
						width: 1.5rem;
					}
				}
			}
		}
	}
}

@media (min-width: 200px) and (max-width: 552px) {
	@font-face {
		font-family: 'Exo2';
		src: url('../assets/fonts/Exo_2/static/Exo2-Medium.ttf') format('truetype');
		font-weight: 200;
		font-style: normal;
	}

	.navbar {
		display: flex;
		align-items: center;
		max-width: 100%;
	}

	.navbar-logo {
		width: 5rem;
		height: 5rem;
		margin-left: 2rem;
	}

	.bars-menu {
		display: flex;
		width: 2rem;
		height: 2rem;
	}

	.navitems {
		flex-direction: column;
		position: absolute;
		z-index: 10;
		top: 6rem;
		right: 0.1%;
		background: linear-gradient(0deg, #a3fef795, #68b0db, #68b0db, #a3fef795);
		width: 90%;
		padding: 1.25rem;
		border-radius: 0 0 1rem 1rem;
		display: none;

		.link {
			color: black;
			height: 1rem;

			&:hover {
				color: #4a6e80;
			}
		}
	}
	.active-menu {
		display: flex;
	}

	.bars-menu {
		display: flex;
		left: 80%;
	}

	main {
		overflow-x: hidden;
	}

	footer {
		display: flex;
		max-width: 100%;
		background: linear-gradient(to right, #a3fef7, #68b0db, #a3fef7);
		place-content: center;
		justify-content: space-between;

		padding: 0 8%;

		.logo {
			width: 5rem;
			height: 5rem;
		}

		.contact {
			width: 65%;
			flex-wrap: wrap;
			display: flex;
			list-style: none;
			gap: 1rem;
			margin-left: 2%;

			ul {
				display: flex;
				place-content: center;
				width: 100%;
				gap: 1rem;
				margin: 0 20%;
				margin-left: none;

				li {
					.network {
						width: 1.5rem;
					}
				}
			}
		}
	}
}

@media (min-width: 993px) {
	@font-face {
		font-family: 'Exo2';
		src: url('../assets/fonts/Exo_2/static/Exo2-Medium.ttf') format('truetype');
		font-weight: 200;
		font-style: normal;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		width: 100%;
	}

	body {
		font-family: 'Exo2', sans-serif;
		scroll-padding-top: 100vh;
		min-height: 100vh;
		background: linear-gradient(
			160deg,
			#a3fef790,
			#68b0db20,
			#68b0db90,
			#a3fef720
		);

		main {
			place-content: center;
			align-items: center;
			justify-content: center;
		}
	}

	section {
		display: flex;
	}

	h1 {
		color: #4158d0;
		text-align: center;
	}

	h2 {
		color: #c850c0;
	}

	h3 {
		color: #b721ff;
	}

	header {
		background: linear-gradient(to right, #a3fef7, #68b0db, #a3fef7);
		display: flex;
		justify-content: space-between;
		position: fixed;
		width: 100%;
		height: 6rem;
	}

	.navbar {
		display: flex;
		gap: 1rem;
		padding: 1rem;
	}

	.navbar-logo {
		width: 5rem;
		height: 5rem;
		margin-left: 4rem;
	}

	#toggle-menu {
		display: none;
	}

	.bars-menu {
		display: none;
		position: absolute;
		flex-direction: column;
		gap: 0.5rem;
	}

	.bars-menu span {
		height: 0.25rem;
		width: 2rem;
		background: black;
	}

	.navitems {
		display: flex;
		list-style: none;
		font-size: larger;
		align-items: center;
		margin-right: 5%;
		margin-left: 25%;

		.login {
			display: flex;
		}
	}

	.link {
		color: #c850c0;
		text-decoration: none;
		font-weight: 800;

		&:hover {
			color: #b5fffc;
		}
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.welcome-section {
		display: flex;
		justify-content: space-between;
		min-height: 100vh;
		align-items: center;
		place-content: center;
		max-width: 90%;
		gap: 3rem;

		.official-logo {
			width: 40%;
			height: auto;
			margin-top: 5%;
		}

		.welcome-content {
			h1 {
				margin-bottom: 5%;
				top: 0;
			}

			.welcome-paragraph {
				width: auto;
				height: 35%;
			}
		}
	}

	.features-section {
		flex-wrap: wrap;
		justify-content: space-around;
		min-height: 100vh;
		align-items: center;
		max-width: 90%;
		gap: 2rem;
		margin: 0 auto;
		margin-bottom: 2%;

		h2 {
			text-align: center;
		}

		.feature {
			display: flex;
			flex-direction: column;
			overflow: hidden;
			width: 30%;
			margin-bottom: 1rem;
			height: 20%;
			place-content: center;

			img {
				width: 8rem;
				margin: 0 auto;
			}

			h3 {
				text-align: center;
				margin-bottom: 1.5rem;
				width: 100%;
			}
		}
	}

	.normativity-section {
		h2 {
			text-align: center;
		}

		.norms-container {
			place-content: center;
			gap: 8%;

			.norm {
				height: 100%;
				width: 20rem;
				justify-items: center;
				padding: 3rem;

				.normlogo {
					width: 12rem;
					height: 12rem;
					margin: 0 5%;
				}

				.normlist {
					display: flex;
					flex-wrap: wrap;
					list-style: none;
					width: 100%;
				}

				h3 {
					margin-bottom: 1rem;
					width: 100%;
					text-align: center;
				}
			}
		}
	}

	.forum-section {
		flex-wrap: wrap;
		min-height: 100vh;
		width: 100%;
		justify-content: space-around;
		place-content: center;
		align-items: center;
		gap: 1rem;
		margin: 0 auto;

		p {
			text-align: justify;
			width: 70%;
		}

		img {
			width: 30%;
			height: auto;
			margin-right: 5%;
		}

		h2 {
			text-align: center;
		}

		.forum-container {
			display: flex;
			flex-direction: column;
			width: 50%;
			gap: 1.5rem;

			label {
				color: #b721ff;
				font-size: x-large;
			}

			.namecontainer,
			.emailcontainer,
			.universitycontainer,
			.titlecontainer,
			.imagecontainer {
				display: flex;
				width: 100%;
				align-items: center;

				.username,
				.title,
				.email,
				.university,
				.imageupload {
					width: 100%;
					height: 1.5rem;
				}
			}

			.commentcontainer {
				display: flex;
				flex-direction: column;
				justify-content: center;
				place-content: center;
				gap: 1rem;
				text-align: center;

				.comment {
					border-radius: 0.5rem;
				}

				width: 100%;
				margin: 0 auto;
			}

			.update {
				width: 35%;
				margin: 0 auto;
				height: 2.5rem;
				border-radius: 0.5rem;
				background-color: #4a6e80;
				box-shadow: 0.6rem 0.75rem 1.125rem -0.07rem rgba(61, 18, 222, 0.74);
				-webkit-box-shadow: 0.6rem 0.75rem 18px -0.07rem rgba(61, 18, 222, 0.74);
				-moz-box-shadow: 0.6rem 0.75rem 1.125rem -0.07rem rgba(61, 18, 222, 0.74);
				color: aliceblue;
				font-size: larger;
			}
		}
	}

	footer {
		display: flex;
		max-width: 100%;
		background: linear-gradient(to right, #a3fef7, #68b0db, #a3fef7);
		place-content: center;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;
		padding: 0 10%;
		gap: 1rem;

		.logo {
			width: 7rem;
			height: 7rem;
		}

		.contact {
			width: 50%;
			display: flex;
			list-style: none;
			padding: 0 10%;
			align-items: center;
			margin-left: 30%;

			ul {
				place-content: center;
				width: 100%;
				margin-left: none;

				li {
					display: flex;

					.network {
						width: 1.5rem;
					}
				}
			}
		}
	}
}
