@font-face {
	font-family: 'Exo2';
	src: url('../assets/fonts/Exo_2/static/Exo2-Medium.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	width: 100%;
}
body {
	font-family: 'Exo2', sans-serif;
	scroll-padding-top: 100vh;
	min-height: 100vh;
	max-width: 100%;
	overflow-x: hidden;
	background: linear-gradient(
		90deg,
		rgb(0, 0, 0),
		rgb(0, 0, 0),
		rgb(0, 0, 0),
		rgb(1, 1, 40),
		rgb(54, 3, 112)
	);
}

header {
	display: flex;
	width: 100%;
	position: fixed;
	justify-content: space-between;
	height: 4rem;
	z-index: 100;
}
.navbar {
	display: flex;
	width: 100%;
	background: linear-gradient(
		90deg,
		rgba(2, 0, 29, 1) 0%,
		rgba(4, 2, 124, 1) 20%,
		rgba(29, 21, 150, 1) 42%,
		rgba(4, 2, 124, 1) 60%,
		rgba(2, 0, 29, 1) 90%
	);
	box-shadow: 0px 10px 7px 0px rgba(143, 143, 208, 0.37);
	-webkit-box-shadow: 0px 10px 7px 0px rgba(143, 143, 208, 0.37);
	-moz-box-shadow: 0px 10px 7px 0px rgba(143, 143, 208, 0.37);
	border-radius: 0 0 1rem 1rem;
	z-index: 100;
}
.navbar-logo {
	display: flex;
}
.bars-menu {
	flex-direction: column;
	transform: translate(9rem, 1rem);
}

.navitems {
	align-items: center;
	justify-content: center;
	gap: 8rem;
}

.link {
	color: #d9e8ef;
	font-size: large;

	&:hover {
		color: #b5fffc;
	}
}

.cart-icon {
	width: 2rem;
	height: 2rem;
	transform: translate(120%);
}
.cart-bubble {
	position: absolute;
	top: -8px;
	right: -8px;
	text-align: center;
	background: var(--primary);
	color: var(--text-white);
	font-size: 10px;
	font-weight: 500;
	height: 18px;
	width: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 1px;
	border-radius: 50%;
}
.toggle-cart {
	margin: auto;
}
.cart {
	display: flex;
	flex-direction: column;
	position: absolute;
	transform: translate(150%);
	top: 4rem;
	right: 0;
	padding: 2rem 2rem 8rem;
	background-color: #050d26;
	gap: 2rem;
	height: calc(100vh);
	overflow-y: scroll;
	z-index: 2;
}

.cart-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.cart h2 {
	color: var(--text-white);
	font-size: 20px;
	font-weight: 600;
}

.cart::-webkit-scrollbar {
	display: none;
}
.cart-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	background-color: #002fff;
	padding: 1rem;
	border: 0.02rem solid;
	border-radius: 10px;
}
.cart-item img {
	height: 4rem;
	width: 4rem;
	border-radius: 2rem;
	object-fit: cover;
}
.item-info {
	display: flex;
	flex-direction: column;
	min-width: 110px;
}
.item-title {
	color: var(--text-white);
	font-weight: 600;
	font-size: 14px;
}
.item-info p {
	color: var(--text-gray);
	font-weight: 300;
	font-size: 12px;
}
.item-price {
	background: linear-gradient(to right, #30cfd0, #c43ad6);
	background-clip: text;
	color: white;
	-webkit-background-clip: text;
	font-size: 16px;
	font-weight: 800;
}
.item-handler {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.quantity-handler {
	display: flex;

	justify-content: center;
	align-items: center;
	padding: 2px 8px;
	border-radius: 5px;
	color: var(--text-white);
	font-weight: 800;
}
.item-quantity {
	color: var(--text-gray);
	text-align: center;
}
.up {
	border: 1px solid var(--electric);
	background: antiquewhite;
}

.down {
	background-color: var(--secondary);
	border: 1px solid var(--electric);
	background: antiquewhite;
}
.divider {
	margin-top: 20px;
	border: 0.5px solid var(--electric);
	width: 100%;
}
.cart-total {
	display: flex;
	color: aliceblue;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	text-align: center;
}
.cart-total p {
	color: var(--text-white);
	font-weight: 700;
}
.cart-total span {
	color: var(--text-white);
	font-weight: 400;
	font-size: 18px;
}
.active-cart {
	transform: translate(0%);
	transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
	text-align: center;
}
.active-cart h2 {
	color: #ffffff;
}

.btn-buy,
.btn-delete {
	display: flex;
	box-shadow: 0.2rem 0.1rem 0rem 0px rgba(0, 0, 0, 0.75);

	-webkit-box-shadow: 0.2rem 0.1rem 0rem 0px rgb(255, 255, 255);
}
.empty-msg {
	color: var(--text-gray);
	font-size: 2rem;
	color: #d60000;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.info {
	display: flex;
	position: relative;
	isolation: isolate;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	background: rgb(2, 0, 29);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 29, 1) 0%,
		rgba(4, 2, 124, 1) 16%,
		rgba(54, 21, 150, 1) 31%,
		rgba(73, 30, 129, 1) 42%,
		rgba(112, 57, 157, 1) 71%,
		rgba(65, 19, 150, 1) 90%,
		rgba(45, 33, 140, 1) 100%
	);
	border-radius: 0 0 1rem 1rem;
	height: 45rem;
	margin-top: auto;
}
.background-info {
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: right;
}
.container {
	display: flex;
	flex-direction: column;
	margin-right: auto;
}

.container-title {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;

	h2 {
		font-weight: 700;
		letter-spacing: 0.025em;
	}

	p {
		margin-top: 2rem;
	}
}

#products {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	place-content: center;
	max-width: 100%;
	padding: 2rem;
	margin-top: 2rem;
}
.products-section {
	place-content: center;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 2rem;
	width: 90%;
}
.categories {
	display: flex;
}

.products-box {
	display: flex;
}
.product {
	display: flex;
	flex-direction: column;
}
.product-info {
	display: flex;
	flex-direction: column;
}
#brands-container {
	display: flex;
}

#brands-container label {
	color: #d9e8ef;
	letter-spacing: 0.1rem;
}

#brands-container option {
	font-weight: 600;
	background: rgb(0, 0, 0);
}
.products-container {
	display: flex;
}
.img-container {
	display: flex;
	overflow: hidden;
	object-fit: contain;
	object-position: center;
	margin: 0 auto;
	border: solid 0.1rem #ffffff;
	border-radius: 1rem;
	background-color: #ffffff;
}
.img-container img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	margin: 0 auto;
}
.product-actions {
	display: flex;
}
.btn-add {
	display: flex;
}

.btn-load {
	display: flex;
}

footer {
	display: flex;
	background: linear-gradient(
		90deg,
		rgba(2, 0, 29, 1) 0%,
		rgba(4, 2, 124, 1) 20%,
		rgba(29, 21, 150, 1) 42%,
		rgba(4, 2, 124, 1) 60%,
		rgba(2, 0, 29, 1) 90%
	);
	.footer-presentation {
		display: flex;
	}
	.contact {
		display: flex;
		list-style: none;

		ul {
			place-content: center;

			li {
				display: flex;
			}
		}
	}

	.contact ul {
		display: flex;
	}
	.contact h2 {
		color: #d9e8ef;
	}
}
